RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://account.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://account.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autoparts.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autoparts.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bopcprinting.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bopcprinting.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://burger.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://burger.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cake.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cake.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://japanese.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://japanese.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://leads.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://leads.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makeup.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://makeup.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://milkteashop.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://milkteashop.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://samgyupsal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://samgyupsal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.account.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.account.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autoparts.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autoparts.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bopcprinting.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bopcprinting.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.burger.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.burger.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cake.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cake.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.japanese.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.japanese.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.leads.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.leads.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makeup.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.makeup.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.milkteashop.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.milkteashop.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.samgyupsal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.samgyupsal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://account.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://account.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://autoparts.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://autoparts.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bopcprinting.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bopcprinting.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://burger.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://burger.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cake.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cake.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://japanese.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://japanese.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://leads.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://leads.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makeup.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://makeup.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://milkteashop.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://milkteashop.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://samgyupsal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://samgyupsal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.account.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.account.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.autoparts.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.autoparts.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bopcprinting.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bopcprinting.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.burger.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.burger.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cake.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cake.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.japanese.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.japanese.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.leads.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.leads.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makeup.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.makeup.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.milkteashop.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.milkteashop.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.samgyupsal.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.samgyupsal.maynakem.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.maynakem.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.maynakem.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|zip)$ https://primeoutsourcing.com/ [R,NC]

