.getstarted-font{
    font-size: 30px;
    color: #555;
}

.getstarted-font:hover{
    font-size: 30px;
    color: #DFA128;
}

#slider.mobile-header {
	display: none;
}
.mobile-image {
	background-image: url(../images/header/asian-woman.jpg);
	background-position: 74% 2% !important;
	height: 195px !important;
	background-size: 162%;
	background-repeat: no-repeat !important;
}

a:hover {
	color: #DFA128:
}

.lending-ecosystem__cta:hover {
	color: #ffffff !important;
    border-color: #DFA128;
    background-color: #DFA128;
}


.uk-overlay-panel {
	position: inherit!important;
	margin-top: -50px!important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	color: #fff;
}
.uk-overlay-background {
	background: rgb(202, 141, 44)!important;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(202, 141, 44)!important;
	width: 100%!important;
}
.stats-band {
	background-color: #DFA128!important;
}
.stats-band h4 {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 0;
	color: #fff;
}
.stats-band span .fa {
	color: #fff;
}
.stats-band p {
	font-size: 18px;
	color: #fff;
}	
.estimated-return{
	position: absolute;
	/*bottom: 66%;*/
	width: 100%;
	color: #fff;
	/*font-size: 4vw;*/
	font-weight: 300;
}
.image-link{
	position: relative;
	display: block;
	text-decoration: none;
}
.main-image{
	display: block;
	margin: auto;
	max-height: 49vh;
}
body { 
	padding-right: 0 !important
}
.modal-open {
	padding-right: 0px !important;
}
.testimonials-content{
	height:210px !important;
}
.positions{
	position:fixed;
}
#mobilePortfolio{
	display: none;
}
@media only screen and (max-width: 1199px) {
	#home-gallery-button {
		width: 100%;
		margin: 5px 0;
		text-align: center;
	}
	article.portfolio-item:hover .portfolio-desc {
		height: auto !important;
	}			
}
.section {
	margin: 30px 0;
	padding: 30px 0;
}
.section.stats-band {
	padding: 30px 0;
}
.section.stats-band div {
	margin-bottom: 0 !important;
}
#quickstepsmobile{
	display: none;
}
@media only screen and (max-width: 749px) {
	#quicksteps {
		display: none;
	}
	#quickstepsmobile {
		display: block;
	}
	ul.quick-steps-carousel-nav .quick-step-header
	{
		font-size: 20px;
		font-weight: 700;
	}
	.uk-overlay-panel {
		position: inherit!important;
		margin-top: -50px!important;
		top: -110px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px;
		color: #fff;
	}
	.uk-grid > * > :last-child {
		margin-bottom: -102px;
		height: 100%;
	}
}

@media (max-width: 767px) {
	.process-steps li {
		width: 100% !important;
	}
	.process-steps li h5 {
		font-size: 10px;
	}
	.positions{
		position:none;
	}
	.portfolio-item 
	.portfolio-image, 
	.portfolio-item 
	.portfolio-image a, 
	.portfolio-item 
	.portfolio-image img{
		padding: 20px;
	}
	#slider {
		display: none;
	}

	#slider.mobile-header {
		display: block;
	}
}		
@media (max-width: 640px) {
	.section {
		margin: 0px;
		padding: 0px;
	}
	.divider {
		margin: 0px;
	}
	.clients-grid li:before, .testimonials-grid li:before{
		border-left: none; 
	}
	ul.testimonials-grid {
		padding: 5px;
	}
	.testimonials-grid li {
		width: auto !important;
		padding-left: 5px;
		padding-right: 5px;
	}
	.testimonials-content {
		height: auto !important;
	}
}

@media only screen and (max-width: 425px) {
	.uk-overlay {
		width: 100%;
	}

	.uk-overlay-background {
		background-color: rgba(202, 141, 44, 0.7) !important;
	}

	.uk-overlay-panel {
		height: 100%;
		top: -200px;
	}

	.uk-overlay img {
		padding: 20px;
	}

	.uk-overlay-panel div {
		position: relative;
		top: 80px;
	}

	.uk-overlay-panel h3 {
		font-size: 28px;
		font-weight: 500;
	}

	#quickstepsmobile img {
		padding: 0 15px;
	}
}



.item-size{
	height: 500px; 
	width: 600px;
}

.process-steps li:before, 
.process-steps li:after { 
	border: none !important; 
}

.margin-top{
	margin-top: 10% !important;
}

.list-style-nav{
	list-style: none; 
	margin: 0 0 0px;
}

.get-a-loan-h1{
	text-transform: capitalize !important;
}

.col-margin-top{
	margin-top: 20px;
}

.list-none{
	list-style: none;
}

.quick-margin-bottom{
	margin-bottom: 0px !important;
}

.quick-style{
	text-align: center; 
	padding-left: 10%; 
	padding-right: 10%;
}

.bg-section-custom{
	background-color: #fff;
}

.image-size-custom{
	height:120px;
}

.padding-section-custom{
	padding-top: 58px;
}

.test-height-custom{
	height: 210px!important;
}

.font-color-custom{
	color:white
}

.cthumbnail {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: 5px -10px;
	background-color: rgb(245, 245, 245);
}

.cthumbnail img {
	padding: 15px;
}

.coverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 200px;
	left: 0;
	text-align: center;
	background-color: #dfa128cc;
}

.coverlay h4.overlay-header {
	color: #fff;
	font-size: 1.5em;
	padding: 15px;
	/*background-color: #DFA128;*/
}

@media only screen and (max-width: 1024px) {
	.cthumbnail .overlay-content {
		padding: 0 15px;
		position: relative;
		bottom: 0;
	}
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
	.cthumbnail .coverlay {
		top: 172px;
	}

	.coverlay h4.overlay-header {
		font-size: 1.1em;
		padding: 10px 0;
	}
}