

.slider-caption {



	background-color: rgba(80,80,80,0.5)!important;

	top: 101.5px;

	padding: 25px;





}

#slider.mobile-header {

display: none;

}

#slider.mobile-header p {

	margin: 0;

}

#slider.mobile-header .header-form-container {

	padding: 35px 10px;

	background-color: #113b5e;

}

.mobile-image {

background-image: url(../images/header/contact-2.jpg);

background-position: 100% 16% !important;

width: 100% !important;

height: auto !important;

background-repeat: no-repeat !important;

}



@media only screen and (max-width: 479px) { 

.container, #header.full-header .container, .container-fullwidth{

	width: 100% !important;

}

.mobile-image {

background-image: url(../images/header/contact-2.jpg);

/*background-position: 76% 21% !important;*/

height: 202px !important;

background-size: 220%;

padding: 115px 0 10px;

}

#slider {

	display: none;

}

#slider.mobile-header {

	display: block;

}

#slider.mobile-header .floating-text-mobile-tablet {

	color: #fff;

	background-color: rgba(0, 0, 0, 0.5);

	font-size: 16px;

	width: 100%;

	padding: 15px;

	display: inline-block;

	position: relative;

	top: 0;

}

.section {

	padding: 45px 20px;

}

.container {

	width: 95% !important;

}



}