.pdb-45{
    padding-bottom: 45px;
}
.ml-0{
    margin-left: 0px;
}

.pdl-0{
    padding-left: 0 !important;
}
.mb-15{
    margin-bottom: 15px;
}
.swiper-slide.corp-bg {
    background-image: url(../../images/landing-pages/abroad-market.jpg);
}
.tl{
    text-align: left;
}
.tc{
    text-align: center;
}
img.i-size {
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
    margin-top: 29px!important;
}
th.border-th1 {
    border-top: 5px solid #f3dc8f !important;
    padding-top: 10px;
}
th.border-th2 {
    border-top: 5px solid #bfa02d !important;
    padding-top: 10px;
}
td.f3dc8f{
    text-align: center; 
    color:#f3dc8f;
}
td.c212121{
    text-align: center; 
    color:#212121;
}
td.bfa02d{
    text-align: center;
    color: #bfa02d;
}
.before-heading{
    font-size: 26px !important;
}
.margin-text{
    margin:0 0 0px 0
}
.before-heading{
    color: #c97d23 !important;
}
.content-wrap{
    padding:80px 0px 0px 0px !important;
}
.line-1{
    position: relative;
    width:100%;
    margin:0px;
    border-top: 2px solid #cccccc;
    margin-top: -40px !important
}
.heading-block{
    margin-bottom: 22px !important;
}
.iconlist.iconlist-large li {
    margin: 15px 0 !important;
}
h5{
    margin: 0px !important;
}
.iconlist {
 margin-left: 0px !important; 
}
@media only screen and (min-width: 768px){
    .text--title {
        font-size: 2.2em !important;
        line-height: 1.2;
    }   
}

@media only screen and (max-width: 667px){
    .subscribe_content {
        font-size: 20px;
    }
}
@media (max-width: 479px){
    .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide, .ei-slider {
        height: 170px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .swiper_wrapper:not(.full-screen):not(.canvas-slider-grid), .swiper_wrapper:not(.full-screen):not(.canvas-slider-grid) .swiper-slide {
        height: 289px !important;
    }
}