* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.swiper {
    width: 100%;
}
.section-padding {
    padding: 70px 0;
}

.section-padding-lg {
    padding: 150px 0;
}

.section-title {
    font-size: 35px;
}

.section-subtitle {
    font-size: 18px;
}

.section-line {
    height: 4px;
    width: 50px;
    background-color: #e5a708;
}

.text-highlight {
    color: #e5a708;
}

/* Header */
.nav-logo {
    max-height: 80px;
    transition: max-height 200ms linear;
}

/* .fixed-top.scrolled {
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 200ms linear;
} */

.fixed-top.scrolled .nav-logo {
    max-height: 60px;
}

/* .navbar-fixed-top.scrolled .nav-link {
    color: #555;
} */

.nav-link.active {
    color: #e5a708 !important;
}

.nav-link:hover {
    color: #ecc86a;
}
/* Banner */

section.banner img {
    vertical-align: middle;
}

.hero-banner {
    background-image: url("../../images/mobile/banner.png");
    background-size: cover;
    background-position: center;
}

.text-slide-wrapper {
    flex: 1;
}

.img-slide-wrapper {
    flex: 1;
}

.img-slide-wrapper img {
    height: 600px;
}

.slideshow-container {
    gap: 50px;
}

.hero-title {
    color: #e5a708;
    padding-top: 30px;
    min-height: 156px !important;
}

.text.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0;
}

section.banner .active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}
/* Product */
section.product {
    background-color: #eaeaea;
}

section.product .card {
    border-radius: 15px;
    background-color: #e5a708;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

section.product .card .card-img img {
    height: 100px;
    transition: all 0.2s ease-in-out;
}

section.product .card .card-title {
    margin: 0;
    transition: all 0.2s ease-in-out;
    min-height: auto;
}

section.product .card .card-text {
    transition: all 0.2s ease-in-out;
}

section.product .card:hover {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease-in-out;
}

section.product .card:hover .card-details {
    color: #e5a708 !important;
}

section.product .card:hover .card-img img {
    filter: invert(61%) sepia(83%) saturate(455%) hue-rotate(4deg)
        brightness(92%) contrast(105%);
}

.product-swiper {
    width: 100%;
    overflow: hidden;
}

/* Steps */
section.how-to-use .swiper {
    padding: 50px 0px;
}

section.how-to-use .swiper .swiper-img {
    text-align: center;
}

section.how-to-use .swiper .swiper-img img {
    height: 400px;
}

section.how-to-use .swiper .swiper-details .swiper-description {
    min-height: 72px;
}

section.how-to-use .swiper .swiper-details h3 {
    font-size: 40px;
}

section.how-to-use .swiper-slide-active .swiper-img img {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* section.how-to-use .swiper-pagination-bullet-active {
    background-color: #e5a708 !important;
    width: 32px;
    border-radius: 50px;
} */

section.how-to-use .swiper-button-next,
section.how-to-use .swiper-button-prev {
    color: #e5a708;
    top: 35%;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin-right: 20px;
    background-color: #888;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.5s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #e5a708 !important;
    width: 32px;
    cursor: auto;
}

/* Testimonial Section */
section.testimonial {
    background-color: #e5a708;
}

section.testimonial .section-header {
    flex: 1;
}

section.testimonial .load-btn {
    width: 250px;
    font-size: 25px;
    border-width: 3px;
    border-radius: 50px;
}
section.testimonial .load-btn:hover {
    color: #e5a708;
}

.testimonial-swiper {
    width: 100%;
    overflow: hidden;
    flex: 1.5;
}
.testimony {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.testimony-header .testimony-img {
    border-radius: 50%;
}

.testimony-header .testimony-img img {
    object-fit: cover;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.testimony-header .testimony-user {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testimony-header h5 {
    font-size: 14px;
}

.testimony-body {
    height: 100px;
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.testimony-footer {
    list-style: none;
}
.testimony-footer svg {
    color: #e5a708;
}
/* Share Section */
section.share {
    background-image: url("../../images/mobile/share-bg.png");
    background-size: cover;
}

section.share .share-btn:hover {
    background-color: #fff;
    color: #e5a708 !important;
}

section.share .share-btn {
    background-color: #e5a708;
    padding: 10px 30px;
    border-radius: 50px;
    width: auto;
    margin: 0 auto;
    font-size: 20px;
}

/* Footer */
/* footer {
    background-image: url("../../images/mobile/footer-bg.png");
    background-size: cover;
    background-position: top;
}

footer .footer-logo {
    flex: 1;
}

footer .footer-socials {
    flex: 0.5;
    padding: 0;
    list-style: none;
}

footer .footer-socials li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    width: 35px;
    height: 35px;
}

footer .footer-socials li svg {
    color: #e5a708;
}

footer .socials img {
    border-radius: 50%;
}

footer .footer-nav-bot ul {
    flex: 1;
    list-style: none;
}
footer .footer-nav-bot ul li {
    padding: 10px;
}
footer .footer-nav-bot ul li a {
    text-decoration: none;
    color: #fff;
}

footer .footer-bot-1 {
    flex: 1;
}

footer .footer-bot-2 {
    flex: 0.5;
}

footer .footer-bot-2 h4 {
    font-size: 16px;
}

footer .footer-bot-2 h4,
footer .footer-bot-2 p,
footer .footer-bot-2 a {
    padding: 10px;
} */

.footer-links ul {
    gap: 24px;
}

.footer-links ul li a {
    font-size: 18px;
}
.history p {
    font-size: 14px;
    color: #d1d5db;
}
.footer-divider {
    border: 1px solid#6b7280;
}
.footer-contacts h5 {
    font-size: 10px;
    color: #d1d5db;
}
.footer-share h5 {
    font-size: 14px;
    color: #d1d5db;
}

.footer-contacts h3 {
    font-size: 20px;
}

footer .amazon img {
    border-radius: 6px;
}

footer .facebook .logo-wrapper {
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: #3b5998;
    border-radius: 6px;
}

footer .facebook h6 {
    font-size: 14px;
    color: #d1d5db;
}

footer:last-child {
    background-color: #ddd;
}

footer .company p {
    font-size: 14px;
}

footer .address {
    flex: 1;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}
